              body {
              background-color: lightblue;
              color: red;}
              h1 { background-color: plum;
              color:yellow;}
              h2  { background-color:mediumvioletred;
              color:olivedrab;}

        